In [8]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]

students.remove(5.25)
print(students)

['Bilal', 'Zunaib', True, 1000, 'Ali']

In [9]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]

del students[1]
print(students)

['Bilal', True, 1000, 'Ali', 5.25]

In [12]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]

academy = students.pop(2)
print(students)
print(academy)

['Bilal', 'Zunaib', 1000, 'Ali', 5.25]
True

In [13]:
print(students)

['Bilal', 'Zunaib', 1000, 'Ali', 5.25]

In [14]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]

students = []
print(students)

[]

In [16]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]

academy = students.pop(1)
print(students)
print(academy)

['Bilal', True, 1000, 'Ali', 5.25]
Zunaib

In [18]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]

students = []

print(students)

[]

In [26]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]
students2 = ["Wajid", "Hassan", False]

students2 = students.pop(4)
print(students)
print(students2)

['Bilal', 'Zunaib', True, 1000, 5.25]
Ali

In [28]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]

del students[1:3]
print(students)

['Bilal', 1000, 'Ali', 5.25]

In [34]:
students = ("Bilal", "Zunaib", True, 1000, "Ali", 5.25)

print(students[0])

Bilal

In [36]:
print("Usman")

Usman

In [41]:
students = ["Bilal", "Zunaib", True, 1000, "Ali", 5.25]

for academy in students:
    print(academy)

Bilal
Zunaib
True
1000
Ali
5.25

In [49]:
students = ["Bilal", "Zunaib", "Ali"]
student2 = ["Afzal"]
fullName = []

for a in students:
    for b in students2:
        fullName.append(a + b)
        print(fullName)

['BilalA']
['BilalA', 'Bilall']
['BilalA', 'Bilall', 'Bilali']
['BilalA', 'Bilall', 'Bilali', 'ZunaibA']
['BilalA', 'Bilall', 'Bilali', 'ZunaibA', 'Zunaibl']
['BilalA', 'Bilall', 'Bilali', 'ZunaibA', 'Zunaibl', 'Zunaibi']
['BilalA', 'Bilall', 'Bilali', 'ZunaibA', 'Zunaibl', 'Zunaibi', 'AliA']
['BilalA', 'Bilall', 'Bilali', 'ZunaibA', 'Zunaibl', 'Zunaibi', 'AliA', 'Alil']
['BilalA', 'Bilall', 'Bilali', 'ZunaibA', 'Zunaibl', 'Zunaibi', 'AliA', 'Alil', 'Alii']