In [2]:
a = 3
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)

8
-2
15
0.6

In [4]:
#Case Sensitive
name = "saylani"
Name = "online"
print(name)

saylani

In [5]:
#Concetenation
fName = "Saylani"
mName = "Online"
lName = "Academy"

space = " "

Full_Name = fName + space + mName + space + lName
print(Full_Name)

Saylani Online Academy

In [8]:
#data types #string #integer #float
a = 10 #int
b = "saylani" # string
c = 5.2 #float
type(b)

str

In [11]:
#if statement
a = 20
b = 12
c = 8

#d = c + b

if a == c + b:
    print("You are Right")
else:
    print("You are Wrong")

You are Right

In [17]:
# 3 * 3
a = 9 ** 2
print(a)

81

In [27]:
print(" Saylani \n Mass \n IT \n Training ")

 Saylani
 Mass
 IT
 Training

In [30]:
print(" Saylani \n\t Mass \n\t\t IT \n\t\t\t Training ")

 Saylani
	 Mass
		 IT
			 Training

In [31]:
#input Function
x = input("What is your name?: ")

What is your name?: Zunaib

In [32]:
print(x)

Zunaib

In [33]:
#input Function #int
x = input("Write here your first number: ")
y = input("Write here your 2nd number: ")

Write here your first number: 2
Write here your 2nd number: 50

In [34]:
type(x)

str

In [36]:
#input Function #int
x = int(input("Write here your first number: "))
y = int(input("Write here your 2nd number: "))

Write here your first number: 25
Write here your 2nd number: 50

In [37]:
type(x)

int

In [42]:
#Input Function #if statement #Equal to
a = input("a) What is your name?: ")
b = input("b) What is your name?: ")

if a == b:
    print("Right Answer")
else:
    print("Wrong Answer")

a) What is your name?: abbas
b) What is your name?: abbas
Right Answer

In [40]:
#Input Function #if statement #Not Equal to
a = input("a) What is your name?: ")
b = input("b) What is your name?: ")

if a != b:
    print("Right Answer")
else:
    print("Wrong Answer")

a) What is your name?: zunaib
b) What is your name?: bilal
Right Answer

In [44]:
#else and elif statement

a = 5
b = 10
c = 20
d = 10

if a == b:
    print("1st Condition True")     
elif  a == c:
    print("2nd Condition True")
elif  a == d:
    print("3rd Condition True")
elif  b == c:
    print("4th Condition True")
elif  b == d:
    print("5th Condition True")
else:
    print("All Conditions are False")

5th Condition True

In [45]:
#Testing Sets Conditions
a = 5
b = 10
c = 15
d = 20

if (a == b or a == c) and b == d:   
    print("True")        
else:
    print("False")

False

In [51]:
#int()

a = int(input("i) Subject-01: "))
b = int(input("ii) Subject-02: "))

total = ((a + b) / 2)

if total >= 80:
    print("A+")
else:
    print("Fail")

i) Subject-01: 50
ii) Subject-02: 90
Fail

In [56]:
#list

students = ["zunaib", False, 5.25, 1000, "Faiz"]
print(students[4])

Faiz

In [57]:
students

['zunaib', False, 5.25, 1000, 'Faiz']

In [60]:
#list

students = ["zunaib", False, 5.25, 1000, "Faiz"]

students.append(500)

print(students)

['zunaib', False, 5.25, 1000, 'Faiz', 500]

In [61]:
students

['zunaib', False, 5.25, 1000, 'Faiz', 500]

In [63]:
#list

students[4] = "Bilal"

print(students)

['zunaib', False, 5.25, 1000, 'Bilal', 500]

In [64]:
#list #insert function

students.insert(1, "Usman")

print(students)

['zunaib', 'Usman', False, 5.25, 1000, 'Bilal', 500]

In [66]:
students.insert(4, "Nabiha")

print(students)

['zunaib', 'Usman', False, 5.25, 'Nabiha', 'Nabiha', 1000, 'Bilal', 500]

In [69]:
#slicing
academy = students[0:5]

print(academy)

['zunaib', 'Usman', False, 5.25, 'Nabiha']