In [10]:
print("Saylani Mass IT Training \n\tSaylani Mass IT Training \nSaylani Mass IT Training \n\tSaylani Mass IT Training \nSaylani Mass IT Training")

Saylani Mass IT Training
	Saylani Mass IT Training
Saylani Mass IT Training
	Saylani Mass IT Training
Saylani Mass IT Training

In [18]:
print("\t\tSaylani Mass IT Training \nSaylani Mass IT Training \tSaylani Mass IT Training \n\t\tSaylani Mass IT Training \nSaylani Mass IT Training \tSaylani Mass IT Training ")

		Saylani Mass IT Training
Saylani Mass IT Training 	Saylani Mass IT Training
		Saylani Mass IT Training
Saylani Mass IT Training 	Saylani Mass IT Training

In [21]:
num = int(input("Write a Number: "))

for a in range(1,11):
    print(num, " x ", a, " = ", num*a)

Write a Number: 5
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

In [24]:
a=int(input("a) Write Your Marks Here: "))
b=int(input("b) Write Your Marks Here: "))
c=int(input("c) Write Your Marks Here: "))
d=int(input("d) Write Your Marks Here: "))
e=int(input("e) Write Your Marks Here: "))


total = ((a+b+c+d+e)/5)

if total >= 90 or total >= 80:
    print("A+")
elif total >= 79 or total >= 70:
    print("B")
elif total >= 69 or total >= 60:
    print("C")
elif total >= 59 or total >= 50:
    print("D")
else:
    print("fail")

a) Write Your Marks Here: 50
b) Write Your Marks Here: 50
c) Write Your Marks Here: 50
d) Write Your Marks Here: 50
e) Write Your Marks Here: 50
D

In [30]:

students = {
                "Name":        "Zunaib",
                "Father Name": "Afzal",
                "Class":       "5th",
                "Age":         15,
                "Cities":      ["Karachi", "Lahore", "Multan"]
                
            }


students["Cities"][1] = "Islamabad"

print(students["Cities"])

['Karachi', 'Islamabad', 'Multan']

In [34]:
#Dictionaries in Dictionaries

students = {
                 1: {                        
                        "Name":        "Zunaib",
                        "Father Name": "Afzal",
                        "Class":       "5th",
                        "Age":         15,
                    },    
                 2: {                         
                        "Name":        "Bilal",
                        "Father Name": "Ahmed",
                        "Class":       "7th",
                        "Age":         17,
                    },    
                 3: {                          
                        "Name":        "Zayan",
                        "Father Name": "Nawaz",
                        "Class":       "8th",
                        "Age":         18,
                    },
            }

print(students[1]["Name"])

Zunaib

In [44]:
#Functions

def add_number(a, b):
    c = a + b
    print(c)

def sub_number(a, b):
    c = a - b
    print(c)

def mul_number(a, b):
    c = a * b
    print(c)
    
def div_number(a, b):
    c = a / b
    print(c)



add_number(55, 10)
sub_number(55, 10)
mul_number(55, 10)
div_number(55, 10)

65
45
550
5.5

In [46]:
#Functions

def sub_number(a, b):
    c = a - b
    print(c)


sub_number(10, 55)

-45