In [6]:
#Mode 
#W+ for Write:

with open("myfile.txt", "w+") as file:
    file.write("Saylani Online Academy")    
    
    file.seek(0)
    print(file.read())

Saylani Online Academy

In [9]:
#Mode 
#R+ for Write and Read:

with open("myfile.txt", "r+") as file:
    file.write("Muhammad Zubair \n")
    file.write("Raheel Naseem \n") 
    file.write("Muhammad Huzaifa \n") 
    
    file.seek(0)
    print(file.read())

Muhammad Zubair
Raheel Naseem
Muhammad Huzaifa

# Modulues

In [ ]:
# %load calculator.py
def add(a,b):
    return a + b

def sub(a,b):
    return a - b

def mul(a,b):
    return a * b

def div(a,b):
    return a / b

In [11]:
import calculator as cal

In [12]:
cal.add(5,5)

10

In [13]:
cal.div(10,2)

5.0

In [14]:
cal.sub(50,2)

48

In [15]:
cal.mul(10,15)

150

In [24]:
# %load fullname.py
def fullName(first_Name, last_Name):
    return first_Name + " " + last_Name

In [25]:
import fullname as fname

In [26]:
fname.fullName("zunaib", "afzal")

'zunaibafzal'

In [27]:
fname.fullName("zunaib", "afzal")

'zunaibafzal'

In [28]:
fname.fullName("zunaib", "afzal")

'zunaibafzal'

In [29]:
#CSV Files

with open("myfile.csv", "w") as f:
    f.write("1001,zunaib,afzal,b.com")

In [33]:
#CSV Files

with open("myfile.csv", "w") as f:
    f.write("101,zunaib,5th")
    f.write("102,Liaquat, 7th")
    f.write("103,Zeeshan, 2nd")