In [10]:
#for Loop

stu = ["Bilal", "Zunaib", "Tariq", "Zarmeen", "Bilal", "Zunaib", "Tariq", "Zarmeen"]

for a in stu:
    print("Welcome to " + a)

Welcome to Bilal
Welcome to Zunaib
Welcome to Tariq
Welcome to Zarmeen
Welcome to Bilal
Welcome to Zunaib
Welcome to Tariq
Welcome to Zarmeen

In [32]:
#for Loop #Numbers

num = 8

for a in range(1, 11):
    print(num, " x ", a, " = ", a*num)

8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80

In [26]:
z = 2
print("Zunaib " + str(z))

Zunaib 2

In [30]:
x = "zunaib"
y = 2.25
z = 2

print(x, y, z)

zunaib 2.25 2

In [41]:
#Nested For Loop

firstName = ["Muhammad"]

lastName = ["Bilal", "Zunaib", "Tariq", "Bilal", "Zunaib"]

fullName = []

for first in firstName:
    for last in lastName:
        fullName.append(first + " " + last) 
print(fullName)

['Muhammad Bilal', 'Muhammad Zunaib', 'Muhammad Tariq', 'Muhammad Bilal', 'Muhammad Zunaib']

In [46]:
#Change Case
#lastName = ["Bilal", "Zunaib", "Tariq", "Bilal", "Zunaib"]

name = "ZunAiB"

print("Lower Case: " + name.lower())
print("Upper Case: " + name.upper())
print("Title Case: " + name.title())

Lower Case: zunaib
Upper Case: ZUNAIB
Title Case: Zunaib

In [48]:
#Change Case
lastName = ["Bilal", "Zunaib", "Tariq", "Bilal", "Zunaib"]

for name in lastName:
    print("Upper Case: " + name.upper())

Upper Case: BILAL
Upper Case: ZUNAIB
Upper Case: TARIQ
Upper Case: BILAL
Upper Case: ZUNAIB

In [ ]:
#Change Case
lastName = ["Bilal", "Zunaib", "Tariq", "Bilal", "Zunaib"]

for name in lastName:
    print("Upper Case: " + name.upper())

In [56]:
#Dictionaries

students = {
                1:        "Zunaib",
                2:  "Muhammad Afzal",
                3:       "7th",
                4:       524    
            }

print(students[2])

Muhammad Afzal